# Ignore the usual suspects
# emacs backups and intermediate files
*~
\#*\#
.\#*

# filter backups
*.bak

# compressed archives
*.Z
*.zip
*.gz
*.tar
*.tgz
*.bz2
*.bzip2

# temporary files created by pod2html
pod2*.tmp
